* {
    font-family: 'Ropa Sans', sans-serif;
}

#center-image {
    height: 370px;
    width: 520px;
    padding: 0;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-image: url('/img/512px-Nintendo-Entertainment-System-NES-Controller-FL.jpeg');
    border: #B95424 solid 5px;
}

h1 {
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
}

#howDoYou {
    height: 250px;
    width: 450px;
    padding: 0;
    margin-right: 15px;
    background-repeat: no-repeat;
}

body {
    background-color: #C7E3F4;
}