body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-message-info {
    background-color: #D1DEFC;
    color: #49429B;
    width: 90%;
    border: 1px lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.message-message-success {
    background-color: #D7F2DC;
    color: #397043;
    width: 90%;
    border: 1px lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.message-message-warning {
    background-color: #FAF8CC;
    color:  #998A43;
    width: 90%;
    border: 1px lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.message-message-error {
    background-color: #F5D4D7;
    color: #823240;
    width: 90%;
    border: 1px lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

